@import url('https://fonts.googleapis.com/css?family=Roboto');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #f4f4f4;
  --diagonal-gradient: linear-gradient(to bottom right, #1758FE, #6925D0);
  --button-diagonal-gradient: linear-gradient(to right, #229DF6, #6925D0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.navbar {
    background: var(--diagonal-gradient);
}

.btn {
  display: inline-block;
  background: var(--button-diagonal-gradient);
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:disabled {
    cursor: not-allowed;
    background: var(--light-color);
    color: #111;
  }
}
